<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link rel="stylesheet" href="css\all.css">
		<link rel="stylesheet" href="/style.css" />
		<link rel="shortcut icon" href="/favicon.ico" >
		<title>Electrodead | Официальный сайт</title>
	</head>
	<body>
		<div class="container" width=800>
			<nav class="navbar navbar-expand-lg navbar-light navbar-color" width = 800>
				<a class="navbar-brand" href="">
					<img src="./electrodead.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
					Electrodead
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
								Products
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/mobile-devices">Mobile Phone</a>
								<a class="dropdown-item " href="/computer">Computer</a>
								<a class="dropdown-item " href="/devices">Devices</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/feedback">Get in touch with us!</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signin-signup">Sign-up</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/signin-signup">Login</a>
						</li>
						<li class="nav-item fonts">
							<a class="nav-link fab fa-vk" href="https://vk.com/blvcke4gle"></a>
						</li>
						<li class="nav-item fonts">
							<a class="nav-link fab fa-instagram" href="https://www.instagram.com/marlboro.pls/"></a>
						</li>
						<li class="nav-item fonts">
							<a class="nav-link fab fa-github-alt" href="https://github.com/johanessson"></a>
						</li>
					</ul>

					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0 searc-button" type="submit">Search</button>
					</form>
				</div>
			</nav>
		</div>

		<main>
			<section class="presentation">
				<div class="introduction">
					<div class="intro-text">
						<h1>Laptop for the future</h1>
						<p>
							The new 14 inch bezeless display oferring a 4k
							display with touch screen.
						</p>
					</div>
					<div class="cta">
						<button class="cta-select btn btn-outline-primary">14 Inch</button>
						<button class="cta-add btn btn-outline-primary">Add To Cart</button>
					</div>
				</div>
				<div class="cover slider-container slider">
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="/matebook.png" class="d-block w-100" alt="materbook">
							</div>
							<div class="carousel-item">
								<img src="/matebook1.png" class="d-block w-100" alt="materbook1">
							</div>
							<div class="carousel-item">
								<img src="/matebook2.png" class="d-block w-100" alt="materbook2">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section>
				<h1> Current EURO to TENGE EXCHANGE: </h1>
				<h1 id="exchange"> </h1>
				<h1> YOUR CURRENT LOCATION: </h1>
				<h1 id="location"> </h1>
			</section>
		</main>

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
		<script src="/app.js"></script>
	</body>
	<style>
		* {
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
		}

		body {
			font-family: 'Poppins', sans-serif;
		}
		button {
			font-family: 'Poppins', sans-serif;
		}

		.navbar-color{
			background-color: #e9b5f7
		}

		header {
			display: flex;
			width: 90%;
			height: 10vh;
			margin: auto;
			align-items: center;
		}
		a{
			text-decoration: none;
			color: #5f5f79;
		}
		.logo-container,
		.nav-links
		{
			display: flex;
		}

		.logo-container {
			flex: 1;
		}
		.logo {
			font-weight: 400;
			margin: 5px;
		}
		#main{
			font-family: Comic Sans MS, sans-serif;
			font-size: 1.3em;
		}
		nav {
			flex: 2;
		}
		.nav-links {
			justify-content: space-around;
			list-style: none;
		}
		.nav-link {
			color: #5f5f79;
			font-size: 18px;
			text-decoration: none;
		}

		.btn-sign-up{
			right: 15px;
		}

		.btn-login{
			right:10px;
		}

		.fonts{
			position: relative;
			top: 6px
		}

		.presentation {
			display: flex;
			width: 90%;
			margin: auto;
			min-height: 80vh;
			align-items: center;
		}
		.introduction {
			flex: 1;
		}
		.intro-text h1 {
			font-size: 44px;
			font-weight: 500;
			background: linear-gradient(to right, #494964, #6f6f89);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.intro-text p {
			margin-top: 5px;
			font-size: 22px;
			color: #585772;
		}
		.cta {
			padding: 50px 0px 0px 0px;
		}
		.cta-select {
			border: 2px solid #c36cbb;
			background: transparent;
			color: #c36cbb;
			width: 150px;
			height: 50px;
			cursor: pointer;
			font-size: 16px;
		}
		.cta-reg {
			background: transparent;
			color: #c36cbb;
			width: 130px;
			height: 40px;
			cursor: pointer;
			font-size: 16px;
		}

		.cta-add {
			background: #c36cbb;
			width: 150px;
			height: 50px;
			cursor: pointer;
			font-size: 16px;
			border: none;
			color: white;
		}

		.slider{
			margin-bottom: 50px;
		}

		.cover {
			flex: 1;
			display: flex;
			justify-content: center;
			height: 60vh;
		}
		.cover img {
			height: 100%;
			filter: drop-shadow(0px 5px 3px black);
			animation: drop 1.5s ease;
		}

		.big-circle {
			position: absolute;
			top: 0px;
			right: 0px;
			z-index: -1;
			opacity: 0.5;
			height: 80%;
		}
		.medium-circle {
			position: absolute;
			top: 30%;
			right: 30%;
			z-index: -1;
			height: 60%;
			opacity: 0.4;
		}
		.small-circle {
			position: absolute;
			bottom: 0%;
			left: 20%;
			z-index: -1;
		}

		.laptop-select {
			width: 15%;
			display: flex;
			justify-content: space-around;
			position: absolute;
			right: 20%;
		}


		@keyframes drop {
			0% {
				opacity: 0;
				transform: translateY(-80px);
			}
			100% {
				opacity: 1;
				transform: translateY(0px);
			}
		}

		@media screen and (max-width: 1024px) {
			.presentation {
				flex-direction: column;
			}
			.introduction {
				margin-top: 5vh;
				text-align: center;
			}
			.intro-text h1 {
				font-size: 30px;
			}
			.intro-text p {
				font-size: 18px;
			}
			.cta {
				padding: 10px 0px 0px 0px;
			}
			.laptop-select {
				bottom: 5%;
				right: 50%;
				width: 50%;
				transform: translate(50%, 5%);
			}
			.cover img {
				height: 80%;
			}
			.small-circle,
			.medium-circle,
			.big-circle {
				opacity: 0.2;
			}
		}

	</style>
</html>
