<!DOCTYPE html>
<html>

<head>
  <title>ElectroDead | Mobile Phones</title>
  <meta name="description" content="This is the description">
  <link rel="stylesheet" href="../css/style4.css" />
  <link rel="shortcut icon" href="../Images/favicon.ico" >
  <script src="../js/store.js" async></script>
</head>

<body>
  <section class="container content-section">
    <h2 class="section-header">MOBILE PHONES</h2>
    <div class="shop-items">
      <div class="shop-item">
        <span class="shop-item-title">Iphone 6 265Gb</span>
        <img class="shop-item-image" src="../Images/mobile1.png">
        <div class="shop-item-details">
          <span class="shop-item-price">€529.99</span>
          <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
        </div>
      </div>
      <div class="shop-item">
        <span class="shop-item-title">Nokia 1488</span>
        <img class="shop-item-image" src="../Images/mobile2.png"">
                    <div class=" shop-item-details">
        <span class="shop-item-price">€159.99</span>
        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
      </div>
    </div>
    <div class="shop-item">
      <span class="shop-item-title">Samsung Galaxy S15</span>
      <img class="shop-item-image" src="../Images/mobile3.png"">
                    <div class=" shop-item-details">
      <span class="shop-item-price">€899.99</span>
      <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
    </div>
    </div>
    <div class="shop-item">
      <span class="shop-item-title">Iphone 8 64Gb</span>
      <img class="shop-item-image" src="../Images/mobile4.png"">
                    <div class=" shop-item-details">
      <span class="shop-item-price">€399.99</span>
      <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
    </div>
    </div>
    </div>
  </section>
  <section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
      <span class="cart-item cart-header cart-column">ITEM</span>
      <span class="cart-price cart-header cart-column">PRICE</span>
      <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
      <strong class="cart-total-title">Total</strong>
      <span class="cart-total-price">€0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
    <button class="btn btn-primary btn-purchase" type="button"><a href="idx">BACK</a></button>
  </section>
</body>

</html>
